@media only screen and (min-width: 37.5em){
    body {max-width: 720px;}
    main {grid-template-columns: 1fr 1fr;}
    header, footer {
        max-width: none;}
    main section {
        margin: 15px auto;}
    main section:nth-child(3) {grid-column: span 2;
    max-width: 680px;
    margin: 15px auto;}

    main section:nth-child(3) h3, main section:nth-child(3) h4{text-align: center;}
    #ftd {display: block;
        margin-left: auto;
    margin-right: auto;}
}