body {
    font-family: 'Karla', sans-serif; 
}
main {
margin: 0 auto;
display: grid;
grid-template-columns: 1fr;}

header, footer {
    
    margin: 0 auto;
    background-color: midnightblue;
    color: white;
    padding: 5px;
    text-align: center;
}

main section {
    background-color: lightgray;
    border-radius: 15px 15px 0px 0px;
    margin-top: 15px;
    
}

main section h3 {
    background-color: darkslateblue;
    color: white;
    border-radius: 15px 15px 0px 0px;
}

h3, p, link, img, p {
    padding: 10px;
    
}

h3 {margin-block-start: 0em;}

footer {margin-top: 15px;}