body {
    font-family: 'Karla', sans-serif; 
}

header, footer {
    background-color: midnightblue;
    color: white;
    padding: 5px;
    text-align: center;
}

main section {
    background-color: lightgray;
    border-radius: 10em, 10em, 1em, 1em;
}

main section h3 {
    background-color: darkslateblue;
    color: white;
}

h3, p, link, img, p {
    padding: 10px;
}
