body {
    font-family: 'Karla', sans-serif; 
    max-width: 320px;
    margin: 15px auto;
    
}
main {
margin: 0 auto;
display: grid;
grid-template-columns: 1fr;}

header, footer {
    max-width: 320px;
    background-color: midnightblue;
    color: white;
    padding: 5px;
    text-align: center;
}

main section {
    max-width: 320px;
    background-color: lightgray;
    border-radius: 15px 15px 0px 0px;
    margin-top: 15px;
    
    
    
}

main section h3 {
    background-color: darkslateblue;
    color: white;
    border-radius: 15px 15px 0px 0px;
}

h3, p, link, img, p, h4 {
    padding: 10px;
    
}

p {text-indent: 25px;}

h3 {margin-block-start: 0em;}

footer {margin-top: 15px;}