@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@1&family=Tangerine&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --primary-color: #16324f;
  --secondary-color: #5c1a1b;
  --accent1-color: #c6b36a;
  --accent2-color: #7a6b2c;
  --heading-font: IM Fell Great Primer, serif;
  --heading2-font: Ariel, Helvetica, sans-serif;
  --paragraph-font: 'Open Sans', sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--primary-color);

  padding: 1em;
}
img {
  max-width: 100%;
}

h1 {
  font-family: IM Fell Great Primer, cursive, sans-serif;
}

h2, h3, h4 {font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black
    }
#coNameExample {
  background-color: var(--accent1-color);
  text-align: center;
  padding: 10px;
}
header {
  padding: 1em;
  text-align: center;
  color: black;
  background-color: var(--accent1-color) ;
}
header > h1 {
  color: black;
  
}
p {
  font-family: var(--paragraph-font);
  color: white;
  padding: 1em;
  font-size: 20px;
  background-color: var(--secondary-color);
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td {
  width: 25%;
  height: 3em;
  color: white;
}
.colors td:nth-child(3){
  color: black;
}
.colors td:nth-child(4) {
  color: white;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
td.currentNav {
  background-color: var(--accent2-color);
}

nav {
  background-color: var(--accent1-color) ;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;
}
nav a {
  padding: 1em;
  min-width: 70px;
  text-decoration: none;
  font-size: 1.5rem;
}
nav a:link,
nav a:visited {
  color: black;
}
nav a:hover {
  color: white;
  background-color: var(--secondary-color);
}
body > main > nav > ul > li.hover > a {
  color: white;
}
.hover a{
  color: white;
  background-color: var(--secondary-color);
}

.wayfind a {
  background-color: var(--accent2-color);
  
}
body > main > nav > ul > li.wayfind > a{
  color: white;
}
footer {
  color: white;
  text-align: center;
}