body {
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}
h1 {
    color: white;
    font-family: 'Lobster', cursive;
    
    margin: auto auto auto 10px;
    
    font-size: 1.5rem;
}
header {
    background-color: midnightblue;
    color: white;
    
}



#date, .classInvite {
    background-color: rgba(255,255,255, .4);
    margin: 10px;
    position: relative;
    padding: 10px;
    border-bottom: 10px solid midnightblue;
}

.classInvite {
    text-align: center;
    display: none;
}

.headerWrapper {
    display: flex;
    justify-content: flex-end;
}

.headerLogo {
    height: 150px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.social {
    margin: auto 0;
    padding: 5px;
    
}
.social img {
    height: 30px;
}

button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;

}

.hamburgerBtn span:nth-child(2) {
    display: none;
}
.pressed span:nth-child(1) {
    display:none;
}
.pressed span:nth-child(2) {
    display:flex;
}


#largeView {display: none;}
.smallView ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px
    
}



.smallView ul li a{
    display: block;
    text-decoration: none;
    list-style: none;
    padding: 15px;
    text-align: center;
    background-color: lightgray;
    color: black;
    border: 1px solid black;
}

.smallView ul li a:hover {
    background-color: rgb(255, 255, 255, .9);
    /*background-color: rgb(0,0,0, .1);*/
}
.navigation {
    display: none;
}

.responsive{
    display:block;
}

#date {
    text-align: center;
    padding: 20px;
}

main div {
    background-color: lightgray;
    height: 350px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin:10px auto;
    }

.hero {
    position: relative;
    height: 320px;
}
.hero img {
    /*width: 100%;
    height: 100%;*/
    max-width: 480px;
    position: absolute;
    }

    .welcome {
    position: absolute;
    top:10px;
    left: 30px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    z-index: 1;
    text-shadow: 5px 5px 5px gray
}
.actionCall {
    background-color: midnightblue;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
}

.join {
    display: none;
}

.event, .weather, .news, .spotlight {
    text-align: center;
    max-width: 500px;
}

.event {
    height: 200px;
}
.news {
    height: 200px;
}
footer div {
    margin: auto;
}

footer div img {
    display: block;
    margin: auto;
    padding: 20px;
}
footer {
    background-color: midnightblue;
    color: white;
    margin-top: 10px;
}
footer div p {
    text-align: center;
    padding: 10px;
}
footer div p a {
    color: white;
}

footer div:nth-child(2) {
    text-align: center;
    padding: 10px;
}

.spotlight {
    height: 570px;
    padding: 10px;
    margin: auto;
}
.quote {
    font-style: italic;
}
.spotlight3{
    display: none;
}
.spotlight1, .spotlight2, .spotlight3 {
   margin-top: 0px;
    border: 1px solid gray;
    padding: 0;
    height: 280px;
    box-shadow: 5px 5px 5px darkgray;
}

/*specific for discovery page*/

.dev {
    display: none;
}



.aquaticCenter, .mtnBiking, .riverTrail, .sternwheeler, .history {
    display: inline-block;
    margin: 5px;
    height: auto;
} 

.aquaticCenter img, .mtnBiking img, .riverTrail img, .sternwheeler img, .history img {
    width: 100%
}

.preFooter {
    display: block;
    text-align: center;
    padding: 10px;
}
 /* form */

 
 form fieldset {
     margin: 2rem 0;
     border: 1px;
     background-color: lightgrey;
     padding: 20px;
}

form fieldset legend {
    padding-bottom: 30px;
    font-size: 1.5em;
}

form label.top {
    display: block;
    padding-bottom: 1rem;
    padding-top: .5rem;
}
form label.top input,  form label.textArea #busDesc{
    display: block;
    padding: .75rem;
    width: 90%;
    max-width: 30rem;
    
}

form .submitBtn {
    display: block;
    margin: auto;
    margin-bottom: 90px;
    padding: .75rem 1.5rem;
    width: 96%;
    max-width: 20rem;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 2rem;
    
}

form label.sbs {
    display: block;
    padding-top: 1rem;
}
 form label.top input:required {
     border-left: red solid 5px;
 }

 form label.top input:required:valid {
     border-left: green solid 5px;
 }

 
/*thank you page*/

.thankYou h2{
    text-align: center;
}

/*for directory*/
.buttons {
    display: flex;
    justify-content: center;
}
#grid, #list {
    font-size: 1.5rem;
    padding: 10px;
    color: black;
    background: lightgray;
    border-radius: 10px;
    border: 1px outset black 
}

div.cards {
    height:100%;
    display: grid;   
    grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
    padding: 20px;
    background-color: white;
}

div.cards section {
    
    background-color: lightgray;
    margin: 10px 0px;
    padding-top: 10px;
}

.cards h2, .cards p {
    text-align: center;
}

.cards img {
    display: block;
    margin:0 auto;
    padding-bottom: 20px;
}

.list {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.list section {
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 1rem;
    text-align: left;
    padding: 20px;
    background-color: lightgray;
}
.list section h2 {
    font-size: 1rem;
}

#directory div.list section p {
    margin-left: 10px;
    margin-right: 10px;
}

.list section img {
    display: none;
}