@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@1&family=Tangerine&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.weatherAlert {
    background-color: red;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: white;
    padding-left: 20px;
}
.weatherAlert button {
    color: white;
}
/*to hide the alert. Button being pressed changes class of 'weatherAlert' class of 'closed'*/
.closed {
    display: none;
}
.socialHeaderLrg {
    display: none;
}
/* for hamburger button*/
button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: black;

}

.hamburgerBtn span:nth-child(2) {
    display: none;
}
.pressed span:nth-child(1) {
    display:none;
}
.pressed span:nth-child(2) {
    display:flex;
}

body > header > section > button {
    margin-left: auto;
}
#largeView {display: none;}
.smallView ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 10px
}

.smallView ul li a{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    padding: 15px;
    text-align: center;
    background-color: #c6b36a;
    color: black;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
body > header > nav.smallView > ul > li:nth-child(1) > a{
    background-color: #7a6b2c;
    color: white;
}

.smallView ul li a:hover {
    /*background-color: rgb(255, 255, 255, .9);*/
    /*background-color: rgb(0,0,0, .1);*/
    background-color: #5c1a1b;
    color: white;
}

body > header > nav > ul > li:nth-child(1) > a:hover {
    background-color: #5c1a1b;
}
.navigation {
    display: none;
}

.responsive{
    display:block;}

/*end hamburger button*/



body {background-color: #16324f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    }

header {color: black;
        background-color: #c6b36a;
        max-width: 960px;
        margin: 0 auto;
        padding: 5px 0;
        display: block;
        justify-content: center;
        align-items: center;
        }
    

.phoneInHeader {
    text-align: center;
    font-size: 20px;
}
.socialHeader {
    display: flex;
    justify-content: center;
}
picture {display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;}

section {display: flex;
    align-items: center;}

h1 {display: flex;
    font-size: 2rem;
    align-items: center; 
    padding-right: 1rem;
    padding-left: 1rem;
    font-family: IM Fell Great Primer, cursive, sans-serif;
    }
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black;
    padding-top: 40px;
}

ul {display: flex;
    font-family: Arial, Helvetica, sans-serif;}

li {display: flex; 
    padding: 0 1rem 0; 
    }       
/*li a:link {
    color: #242b86fd;
}
li a:visited {
        color: #510e9e;
}
li a:hover {
    color: #ff0000;
}
li a:active {
    color: #0000FF;}
    */
main {
    display: block;
    }

    .banner {
        display: none;
    }
    .action button {
    line-height: 2em;
    width: 10em;
        background-color: #5c1a1b;
        color: white;
    }

    .action{
        /*grid-column: 1/-1;
        grid-row: 1;*/
        background-color:  rgba(240, 240, 240, 0.6);
        margin: 20px 20px;
        padding: 10px;
        text-align: center; 
    }

    body > main > div.banner-box > div > h3{
        margin: 10px;
        padding: 20px;
        line-height: 45px;
    }
h3 {
    font-size: 35px;
    line-height: 15px;
    text-shadow: 1px 1px #FFFFFF;
    font-family: IM Fell Great Primer, cursive, sans-serif;
}


main h2 {color: white;
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif}

        body > main > div.section1pict, body > main > div.section2pict {
    display: flex;
    justify-content: center;
}
.section1pict img, .section2pict img {
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    
}

main p {background-color:  #5c1a1b;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5rem;
        padding: 10px 30px;
        text-align: left;}
/* for weather */     
.weather {
    background-color: #5c1a1b;
    text-align: center;
    margin-bottom: 20px;
}        
body > main > div.weather > div{
    display: flex;
    justify-content: center;
}
#weatherIcon {
    width: 100px;
    
}

body > main > div.weather > h3:nth-child(3), body > main > div.weather > h3:nth-child(4) {
    color: white;
    text-shadow: none;
    font-family: Arial, Helvetica, sans-serif;
}
.weather p {
    text-align: center;
}

footer {background-color: #c6b36a;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px 50px;
    }
footer div {
    display: flex;
    align-items: center;
}
.icons {
    flex-direction: column;
}
.map {
    padding-bottom: 10px;
    padding-top: 5px;
    width: 20px;
}
.phone {
    padding-top: 20px;
    width: 20px;
}
.mail {
    padding-top: 0px;
    width: 20px;
}
.map, .phone, .mail {
    padding-right: 10px;
}
.icons {
    display: none;
}
.social {
    /*margin-left: auto;
    align-self: flex-start;
    padding-top: 16px;*/
    justify-content: center;
    padding-bottom: 20px;
}
.social-icon {
    width: 50px;
    padding: 4px;
}
footer p {
    font-size: 1rem;
    font-family: Verdana, Helvetica, sans-serif;
    text-align: center;
       }

.contact {
    margin: 10px auto;
    }
body > footer > div:nth-child(2)
    {justify-content: center;}
    body > footer > div:nth-child(1) {
        justify-content: center;
    }
    
    .map {
    width: 50px;
    padding: 5px;

}
footer a:link {
    color: #242b86fd;
}
footer a:visited {
        color: #510e9e;
}
footer a:hover {
    color: #ff0000;
}
footer a:active {
    color: #0000FF;}
.lastLine {
    display: block;
    text-align: center;
}

.footerLrg {
    display: none;
}

    /*css for reservations page*/
    .reservations {display: block;}
    form {
        /* Center the form on the page */
        margin: 0 auto;
        width: 600px;
        /* Form outline */
        padding: 1em;
        border: 1px solid #CCC;
        border-radius: 1em;
        margin: 15px auto;
      }
      
      .res-ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      form li + li {
        margin-top: 1em;
      }
      
      label {
        /* Uniform size & alignment */
        display: inline-block;
        width: 120px;
        padding-right: 10px;
        text-align: right;
        font-size: 20px;
        color: white;
      }
      
      input, 
      textarea {
        /* To make sure that all text fields have the same font settings
           By default, textareas have a monospace font */
        font: .75em sans-serif;
      
        /* Uniform text field size */
        width: 300px;
        box-sizing: border-box;
      
        /* Match form field borders */
        border: 1px solid #999;
      }
      
      input:focus, 
      textarea:focus {
        /* Additional highlight for focused elements */
        border-color: #000;
      }
      
      textarea {
        /* Align multiline text fields with their labels */
        vertical-align: top;
      
        /* Provide space to type some text */
        height: 5em;
      }
      
      .button {
        /* Align buttons with the text fields */
        padding-left: 150px; /* same size as the label elements */
      }
      
      button {
        /* This extra margin represent roughly the same space as the space
           between the labels and their text fields */
        margin-left: 10px;
      }
    
    /*end of reservations css*/
    
    /* css for temple spotlight */
    .temple-spotlight {
        max-width: 960px;
        margin: 0 auto;
        font-size: 2rem;
        display: block;
    }
    .vernal-banner {
        display: grid;
        grid-template-rows: 165px 165px 165px;
        grid-template-columns: 265px 265px 265px;
        position: relative;
        left: 75px;
        top: 20px;
        margin: 20px 20px 40px 20px;
    }
    
    .vernal-banner h2 {
        grid-column: 1/2;
        grid-row: 1/2;
        text-shadow: 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black
    }
    .vernal-banner img {
        grid-column: 1/-1;
        grid-row: 1/-1;
        z-index: -1;
    }
    .vernal-banner p {
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .main-content {
    
        display: grid;
        grid-template-columns: 270px 270px 270px;
        grid-gap: 75px;
    }
    
    .history-section, .features-section, .facts {
        display: block;
        justify-self: center;
    }
    .features-section img {
        position: relative;
        left: 25px; 
    }
    .history-section img {
        position: relative;
        left: 25px; 
    }
    .history-section p {
        margin-top: 40px;
    }
    .facts img {
        position: relative;
        left: 30px; 
    }
    
    /*css for ammenities section*/
    
    .amenities {
        max-width: 960px;
        margin: 0 auto;
        font-size: 2rem;
        display: block;
    }
    .amenities-banner {
        text-align: center;
        position: relative;
        top: -45px;
        height: 600px;
    }
    .amenities-banner h2 {
        position: relative;
        text-shadow: 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black;
        top: 120px;
        text-align: left;
        left: 175px;
    }.amenities-banner p{
        width: 250px;
        position: relative;
        bottom: 185px;
        left: 570px;
        }
    
    .amenities-content {
        position: relative;
        display: grid;
        grid-template-columns: 270px 270px 270px;
        grid-gap: 75px;
    }
    
    .changing-rooms, .childcare, .kitchenettes, .sitting-area, .reception-hall, .family-history, .free-amenities, .free-amenities ul 
    {
        display: block;
        justify-self: center;}
    .childcare img {
        position: relative;
        left: 25px;
    }
    .kitchenettes img {
        position: relative;
        left: 25px;
    }
    .family-history img {
        position: relative;
        left: 25px;
    }
    
    .closing-img {
        position: relative;
        -webkit-box-align:center;
        -webkit-box-pack:center;
        display:-webkit-box;}
    
    .changing-rooms img, .childcare img, .kitchenettes img, .sitting-area img, .reception-hall img, .family-history img{
        border: 1px solid #ccc;
        padding: 10px;
        box-shadow: 5px 5px 5px #999;}
    
    .last-section {
        position: relative;
    }
    .free-amenities {
        /*position: absolute;
        top: 70px;
        left: 100px;*/
        width: 960px;
    }
    .free-amenities p {
        column-count: 3;
    }
    .free-amenities h2 {
        text-shadow: 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black, 0px 0px 15px black
    }
    
    .cookies{
        text-align: center;
        max-width: 960px;
        margin: 0 auto;
        padding: 5px 0;
        font-size: 2rem;
        display: block;
        margin-bottom: 20px;
    }
   
    /*css for Attributions page-----------------------------------------------------*/
    .attributions .weatherAlert {
        display: none;}
    
    .attributions > header > nav.smallView > ul > li > a{
        background-color: #c6b36a;
        color: black;
    }
    .attributions > header > nav.smallView > ul > li:nth-child(1) > a{
        background-color: #c6b36a;
        color: black;
    }
    .attributions > header > nav.smallView > ul > li > a:hover {
        background-color: #5c1a1b;
        color: white;
    }

/*css for temple page-----------------------------------*/

/*for nav wayfinding*/
.temple .weatherAlert {
    display: none;}

.temple > header > nav.smallView > ul > li:nth-child(1) > a {
    background-color: #c6b36a;
    color: black;
}
.temple > header > nav.smallView > ul > li:nth-child(2) > a{
    background-color: #7a6b2c;
    color: white;
}

.temple > header > nav.smallView > ul > li > a:hover {
    background-color: #5c1a1b;
    color: white;
}

/*for temple cards*/
.temple .cards section {
    display: block;
}

/*css for reservations------------------------------------*/
.reservation > header > nav.smallView > ul > li:nth-child(1) > a {
    background-color: #c6b36a;
    color: black;
}

.reservation > header > nav.smallView > ul > li:nth-child(3) > a{
    background-color: #7a6b2c;
    color: white;
}

.reservation > header > nav.smallView > ul > li > a:hover {
    background-color: #5c1a1b;
    color: white;
}
.reservation > header > nav.smallView > ul > li:nth-child(3) > a:hover {
    background-color: #5c1a1b;
    color: white;
}

/*css for services--------------------------------------------*/
.services > header > nav.smallView > ul > li:nth-child(1) > a {
    background-color: #c6b36a;
    color: black;
}

.services > header > nav.smallView > ul > li:nth-child(4) > a{
    background-color: #7a6b2c;
    color: white;
}
.services > header > nav.smallView > ul > li:nth-child(4) > a:hover,
.services > header > nav.smallView > ul > li:nth-child(1) > a:hover  {
    background-color: #5c1a1b;
    color: white;
}